<!DOCTYPE html>
<html>
<head>
    <script id='sap-ui-bootstrap'
            src='https://openui5.hana.ondemand.com/resources/sap-ui-core.js'
            data-sap-ui-theme='sap_belize'
            data-sap-ui-libs='sap.m'>
    </script>

    <style>
        .header{
            height: 3.25rem;
            line-height: 3.25rem;
            text-shadow: 0 0 0.125rem #fff;
            background-color: #fff;
            font-size: 1.25rem;
            padding-right: 1rem;
            font-family: "72",Arial,Helvetica,sans-serif;
        }
        .consentPropContent{
            padding: 0 2rem;
            font-family: "72",Arial,Helvetica,sans-serif;
            font-size: 1rem;
            line-height: 1.75rem;
        }
        .tableContent{
            padding: 0 2rem;
        }

        .headerHBox{
            padding: 2rem 2rem 0 2rem;
        }

        .container .columnStyle{
            line-height: 1.25rem;
            font-size: 0.9rem;
            color: #0c73b5;
            font-weight: bold;
        }

        .iconStyle{
            opacity: 0.6;
        }

        .tableRow{
            line-height: 3rem;
        }

    </style>

    <script>
		sap.ui.getCore().attachInit(function () {
			var oTable = new sap.m.Table({
				showOverlay: false,
				columns: [
					new sap.m.Column({
						header: new sap.m.Text({text: "UID"}).addStyleClass("columnStyle")
					}),
					new sap.m.Column({
						header: new sap.m.Text({text: "Created"}).addStyleClass("columnStyle")
					}),
					new sap.m.Column({
						header: new sap.m.Text({text: "Is Consent Granted"}).addStyleClass("columnStyle")
					}),
					new sap.m.Column({
						header: new sap.m.Text({text: "Consent Last Modified"}).addStyleClass("columnStyle")
					}),
					new sap.m.Column({
						header: new sap.m.Text({text: "Doc Version"}).addStyleClass("columnStyle")
					})
				]
			}).addStyleClass("tableStyle");
			oTable.bindItems({
				path: "/data/concents",
				template: new sap.m.ColumnListItem({
					cells: [
						new sap.m.Text({text: "{uid}"}),
						new sap.m.Text({text: "{created}"}),
						new sap.m.CheckBox({selected: "{isConsentGranted}",
							displayOnly: true}),
						new sap.m.Text({text: "{consentLastModified}"}),
						new sap.m.Text({text: "{docVersion}"})
					]
				}).addStyleClass("tableRow")
			});

			var oModel = new sap.ui.model.json.JSONModel({
				data: {
					concents: <%- JSON.stringify(users) %>,
					concentId: <%- JSON.stringify(consentPath) %>,
					lastUpdated: <%- JSON.stringify(time) %>
				}
			});

			oTable.setModel(oModel);
			oTable.placeAt("tableContent");

			var VBox = sap.m.VBox({
				items: [
					new sap.m.HBox({
						items: [
							new sap.m.Label({
								text: "Consent ID:",
								width: "6rem"
							}),
							new sap.m.Text({}).bindText("/data/concentId")
						]
					}),
					new sap.m.HBox({
						items: [
							new sap.m.Label({
								text: "Last updated:",
								width: "6rem"
							}),
							new sap.m.Text({}).bindText("/data/lastUpdated")
						]
					})
				]
			});

			VBox.setModel(oModel);

			VBox.placeAt("consentPropContent");

			var oHeader = new sap.m.HBox({
				items: [
					new sap.ui.core.Icon({
						src: "sap-icon://account",
						size: "1.1rem"
					    }).addStyleClass("header iconStyle"),
					new sap.m.Label({
						text: "Consent status"
					}).addStyleClass("header")
                ]
			}).addStyleClass("headerHBox");

			oHeader.placeAt("consentStatus");
		});



    </script>

    <title>Consent Status</title>
</head>

<body>
<div class="container">
    <div id="consentStatus"></div>
    <div id="consentPropContent" class="consentPropContent"></div>
    <div id="tableContent" class="tableContent"></div>
</div>
</body>
</html>
