<!DOCTYPE html>
<html>
<head>    
</head>

<body>
    <div class="container">
		<h2>We've encoutered an error</h2>
		<div><%= error %></div><br>
		<div><%= details %></div>
    </div>
</body>
</html>
